<div class="error-404">
    <div class="error-404-div">
        <div>
            <p>Oops something went wrong!</p>
        </div>
        <div><a href="/login">Back To Login</a></div>
    </div>
</div>