    <form>
      <div class="container">
        <div class="issue">
          <div class="issue-left">
            <label for="project">Project</label>
            <select name="project" id="project">
              <option value=""></option>
            </select>

            <label for="issueType">Type</label>
            <select name="issueType" id="issueType">
              <option value=""></option>
            </select>
            <hr />

            <label for="description">Description</label>
            <input type="text" id="description" name="description" required />

            <label for="attachment">Attachments</label>
            <a href="#">link</a>
          </div>

          <div class="issue-right">
            <div>
              <label for="status">Status</label>
              <select name="status" id="status">
                <option value=""></option>
              </select>
            </div>
            <div>
              <label for="severity">Severity</label>
              <select name="severity" id="severity">
                <option value=""></option>
              </select>
            </div>
            <div>
              <label for="priority">Priority</label>
              <select name="priority" id="priority">
                <option value=""></option>
              </select>
            </div>
            <div>
              <label for="createdDate">Created Date</label>
              <input type="date" id="createdDate" name="createdDate" required />
            </div>
            <div>
              <label for="assignee">Assignee</label>
              <input type="text" id="assignee" name="assignee" required />
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
