<div class="login-container">
    <h2 class="text-center">Change Your Password</h2>
    <% if(error){ %>
        <ul>
            <li class="error-message">
                <%= error.msg %>
            </li>
        </ul>
        <% } %>
            <form action="/forget-password/reset-password" method="POST">

                <label for="newPassword">New Password<span class="value-required">*</span></label>
                <input type="text" id="newPassword" name="newPassword" />

                <label for="confirmPassword">Confirm Password<span class="value-required">*</span></label>
                <input type="text" id="confirmPassword" name="confirmPassword" />

                <button type="submit" class="text-center">Submit</button>
            </form>
</div>